<h2>Calculator:</h2>
<div><input #xi type="number" value=0/></div>
<div>
    <label for="font-select">Choose operation:</label>
    <select [(ngModel)]="selectedOp" id="op-select" name="cars">
        <option *ngFor="let op of operations" value="{{op}}">{{op}}</option>
    </select>
</div>
<div><input #yi type="number" value=0/></div>
<div><button type="button" (click)="getResult(xi.value,yi.value,selectedOp)">Result</button></div>
<div><p>{{result}}</p></div>
<div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <div *ngFor='let message of messageService.messages; index as i;'> 
        <button *ngIf="message" type="button" id="{{i}}" (click)="messageService.clear(i)">x</button> {{message}} 
    </div>
  
</div>
